body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
}
#container {
  width: 1000px;
  height: 550px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(bgImg.jpg);
  margin: 20px auto;
}

#calculator {
  width: 320px;
  height: 520px;
  background-color: #eaedef;
  margin: 0 auto;
  top: 20px;
  position: relative;
  border-radius: 5px;
}
#result {
  height: 120px;
}
#history {
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 15px;
  color: #919191;
}
#output {
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 30px;
}
#keyboard {
  height: 400px;
}
.operator,
.number,
.empty {
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-radius: 25%;
  border-width: 10;
  font-weight: bold;
  font-size: 15px;
}
.operator {
  border-radius: 0%;
}
.number,
.empty {
  background-color: #eaedef;
}
.number,
.operator {
  cursor: pointer;
}
.operator:active,
.number:active {
  font-size: 13px;
}
.operator:focus,
.number:focus,
.empty:focus {
  outline: 0;
}
button:nth-child(4) {
  font-size: 20px;
  background-color: #575c5c;
}
button:nth-child(8) {
  font-size: 20px;
  background-color: #575c5c;
}
button:nth-child(12) {
  font-size: 20px;
  background-color: #575c5c;
}
button:nth-child(16) {
  font-size: 20px;
  background-color: #575c5c;
}
button:nth-child(20) {
  font-size: 20px;
  background-color: #575c5c;
}
.id {
  border-style: dotted;
}
